<!DOCTYPE html>
<html>
<head>
	<title>Get Images Page</title>
</head>
<body>

	<!-- <script> -->

			<% var data = JSON.stringify( images);  %>
			<% return data; %>
			<!-- <%= data %> -->


	<!-- </script> -->

</body>
</html>
